#pragma once

#define [[[PROJECT_NAME]]]_Version_Major @[[[PROJECT_NAME]]]_VERSION_MAJOR@
#define [[[PROJECT_NAME]]]_Version_Minor @[[[PROJECT_NAME]]]_VERSION_MINOR@
#define [[[PROJECT_NAME]]]_Version_Patch @[[[PROJECT_NAME]]]_VERSION_PATCH@
#define [[[PROJECT_NAME]]]_Version_Tweak @[[[PROJECT_NAME]]]_VERSION_TWEAK@

#define [[[PROJECT_NAME]]]_VersionShort "@[[[PROJECT_NAME]]]_VERSION_MAJOR@.@[[[PROJECT_NAME]]]_VERSION_MINOR@"
#define [[[PROJECT_NAME]]]_VersionLong [[[PROJECT_NAME]]]_VersionShort".@[[[PROJECT_NAME]]]_VERSION_PATCH@"
#define [[[PROJECT_NAME]]]_VersionFull [[[PROJECT_NAME]]]_VersionLong".@[[[PROJECT_NAME]]]_VERSION_TWEAK@"
